<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC   "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		
		
		<property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/mediconnect?&amp;useTimezone=true&amp;serverTimezone=UTC&amp;createDatabaseIfNotExist=true</property>
		<property name="hbm2ddl.auto">update</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">root</property>
		<property name="show_sql">true</property>
		<property name="hibernate.current_session_context_class">org.hibernate.context.internal.ThreadLocalSessionContext</property>
		
		
		<mapping class="main.java.mediconennect.modelo.entidade.atendente.Atendente" />
		<mapping class="main.java.mediconennect.modelo.entidade.conquista.Conquista"/>
		<mapping class="main.java.mediconennect.modelo.entidade.consulta.Consulta"/>
		<mapping class="main.java.mediconennect.modelo.entidade.endereco.Endereco"/>
		<mapping class="main.java.mediconennect.modelo.entidade.especialidadeProfissional.EspecialidadeProfissional"/>
		<mapping class="main.java.mediconennect.modelo.entidade.instituicao.Instituicao"/>
		<mapping class="main.java.mediconennect.modelo.entidade.notificacao.Notificacao"/>
		<mapping class="main.java.mediconennect.modelo.entidade.paciente.Paciente"/>
		<mapping class="main.java.mediconennect.modelo.entidade.pessoa.Pessoa"/>
		<mapping class="main.java.mediconennect.modelo.entidade.profissionalDeSaude.ProfissionalDeSaude"/>
		<mapping class="main.java.mediconennect.modelo.entidade.selo.Selo"/>
		<mapping class="main.java.mediconennect.modelo.entidade.usuario.Usuario"/>
		<mapping class="main.java.mediconennect.modelo.entidade.pacienteConquista.PacienteConquista"/>
		<mapping class="main.java.mediconennect.modelo.entidade.pacienteConquista.PacienteConquistaId"/>
		<mapping class="main.java.mediconennect.modelo.entidade.pacienteSelo.PacienteSelo"/>
		<mapping class="main.java.mediconennect.modelo.entidade.pacienteSelo.PacienteSeloId"/>
		<mapping class="main.java.mediconennect.modelo.entidade.especialidadeInstituicao.EspecialidadeInstituicao"/>
		<mapping class="main.java.mediconennect.modelo.entidade.especialidadeInstituicao.EspecialidadeInstituicaoId"/>
		<mapping class="main.java.mediconennect.modelo.entidade.notificacaoConsulta.NotificacaoConsulta"/>
		<mapping class="main.java.mediconennect.modelo.entidade.notificacaoConsulta.NotificacaoConsultaId"/>
		
		
		
	</session-factory>
</hibernate-configuration>