body {
    width: 100vw;
    height: 100vh;
    background-color: var(--background-light);
}

main {
    align-items: center;
    margin: 50px 0 25px 0;
}

/* Menu */

#content-header {
    align-items: center;
    height: 140px;
}

#content-header img {
    grid-column: 2 / 3;
    width: 140px;
    height: 100%;
}

.nav-bar {
    grid-column: 7 / 12;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar .btn-round-sm {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8em;
    background-color: var(--dark);
}

/* Conteúdo Principal */

.title {
    grid-column: 2 / 10;
    color: var(--purple);
    margin-bottom: 40px;
}

/* Formulário */

.form-input {
    border-color: var(--purple);
}

.input-itens input {
    color: var(--purple);
}

::placeholder {
    color: var(--purple-light);
}

.form-footer {
    display: flex;
    justify-content: flex-end;
    width: 37vw;
    gap: 50px;
}

.form-footer .btn-round-sm:first-child {
    background-color: var(--purple);
}

.form-footer .btn-round-sm:nth-child(2) {
    background-color: var(--background-light);
    border: 3px solid var(--purple);
}