body {
    width: 100vw;
    height: 100vh;
    align-items: center;
    color: var(--dark);
    background-color: var(--background-light);
}

main {
    align-items: center;
    margin: 50px 0;
}

/* Menu */

#content-header {
    align-items: center;
    height: 140px;
}

.nav-bar {
    grid-column: 2 / 4;
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav-bar img {
    width: 55px;
    height: 100%;
}

.title {
    grid-column: 4 / 10;
    display: flex;
    justify-content: center;
}

.header-logo  {
    grid-column: 11 / 12;
    width: 140px;
    height: 100%;
}

/* Definições Gerais */

form {
    display: flex;
    flex-direction: column;
    gap: 55px;
}

.validation-content {
    display: flex;
    gap: 25px;
}

.validation-content img {
    width: 25px;
}

#email-validation, #password-validation {
    display: flex;
    margin: 25px 0;
}

[class*="input-"] input:focus {
    outline: none;
}

[class*="input-"] input::placeholder {
    color: var(--purple-light);
}

/* Confirmar E-mail */

#confirm-email [class*="email-"] {
    grid-column: 2 / 12;
}

.email-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    gap: 45px;
    color: var(--background-light);
    background-color: var(--purple);
    border-radius: 40px 40px 0 0;
}

.email-header img {
    filter: brightness(100);
    width: 35px;
}

.email-content {
    padding: 0 8.33vw 0 8.33vw;
    border: 3px solid var(--purple);
    border-radius: 0 0 40px 40px;
}

.email-content .input-email {
    display: flex;
    gap: 40px;
    margin-top: 50px;
}

.email-content #form-email {
    display: flex;
    align-items: center;
    width: 35vw;
    height: 55px;
    border: 3px solid var(--purple);
    border-radius: 15px;
}

.email-content #form-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4.15vw;
    height: 100%;
    background-color: var(--purple);
    border-radius: 10px 0 0 10px;
}

#form-icon img {
    filter: brightness(100);
    width: 35px;
}

#form-email input {
    width: 22vw;
    margin-left: 4.15vw;
    color: var(--purple);
    background: none;
}

/* Alterar Senha */

.password-content {
    grid-column: 2 / 12;
    padding: 0 8.33vw 0 8.33vw;
    border: 3px solid var(--purple);
    border-radius: 40px;
}

.password-content .input-password {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.input-password [id$="-password"] {
    display: flex;
    align-items: center;
    gap: 40px;
}

.input-password [id$="-password"] .password-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vw;
    width: 15vw;
    height: 55px;
    border: 3px solid var(--purple);
    border-radius: 15px;
}

.input-password [id$="-password"] input {
    width: 8.5vw;
    color: var(--purple);
    background: none;
}

.input-password [id$="-password"] img {
    width: 35px;
}

#password-validation {
    gap: 8.33vw;
}

/* Botões */

#buttons {
    grid-column: 2 / 12;
    display: flex;
    gap: 50px;
}

#buttons button:first-child {
    background-color: var(--purple);
}

#buttons button:last-child {
    border: 3px solid var(--purple);
    background-color: var(--background-light);
}