body {
    width: 100vw;
    height: 100vh;
    align-items: center;
    background-color: var(--background-light);
}

main {
    align-items: center;
    margin: 50px 0;
}

/* Menu */

#content-header {
    align-items: center;
    height: 140px;
}

.nav-bar {
    grid-column: 2 / 4;
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav-bar img {
    width: 55px;
    height: 100%;
}

.header-logo  {
    grid-column: 11 / 12;
    width: 140px;
    height: 100%;
}

/* Conteúdo - Direita */

.content-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.title-special {
    text-align: center;
    color: var(--purple);
}

/* Formulário */

#content-form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.form-input {
    border-color: var(--purple);
}

.input-itens input {
    color: var(--purple);
}

::placeholder {
    color: var(--purple-light);
}

.form-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-footer .btn-round-sm {
    background-color: var(--purple);
    cursor: pointer;
}

.form-footer a {
    color: var(--purple-dark);
}