body {
    color: var(--dark);
    background-color: var(--background-institution);
}

main {
    margin-top: 50px;
}

/* Menu */

#content-header {
    align-items: center;
    height: 140px;
}

[class*="nav-"], .filter-box, .filter-icon {
    display: flex;
    align-items: center;
}

.nav-bar {
    grid-column: 2 / 4;
    justify-content: flex-start;
    gap: 80px;
}

.nav-bar img {
    width: 50px;
}

.nav-filter {
    grid-column: 5 / 12;
    justify-content: space-between;
}

.filter-box {
    justify-content: space-between;
    border: 3px solid var(--blue);
    border-radius: 15px;
    width: 30vw;
    height: 55px;
}

.input-itens input {
    color: var(--blue);
    padding-left: 1.4vw;
}

.input-itens input::placeholder {
    color: var(--blue-light);
}

.filter-icon {
    height: 100%;
    background-color: var(--blue);
    border-radius: 0 5px 5px 0;
    padding: 0 15px;
    cursor: pointer;
}

.filter-icon img {
    height: 35px;
}

.nav-filter button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    color: var(--background-institution);
    background-color: var(--blue);
}

.nav-filter button img {
    height: 35px;
}

/* Notificações */

#search-return .text {
    grid-column: 2 / 12;
}

#notification {
    margin-bottom: 50px;
}

.card-notification {
    grid-column: 2 / 12;
    margin-top: 50px;
    border: 3px solid var(--blue);
    border-radius: 40px;
    background-color: var(--light);
}

.notification-top {
    display: flex;
    justify-content: space-between;
}

.consult-data {
    display: flex;
    align-items: center;
}