@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@700&family=Noto+Sans+Symbols:wght@300;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    border-style: none;
    box-sizing: border-box;
}

body {
    font-size: 100%;
}

:root {
    /* Cores */
    --background-light: #F8F3FB;
    --background-institution: #F3FBFB;
    --purple: #6C64C4;
    --purple-light: #B5B1E1;
    --purple-dark: #48428E;
    --blue: #74A0D4;
    --blue-light: #B9CFE9;
    --blue-dark: #3D5E87;
    --dark: #232323;
    --dark-shadow: #23232340;
    --viridian: #5AC48C;
    --crimson: #C45A5A;
    /* Fontes */
    --font-general: 'Noto Sans Symbols', sans-serif;
    --font-special: 'Fredoka', sans-serif;
}

/* Textos - alterar o letter-spacing de forma com que fique "responsivo" */

.text {
    font-family: var(--font-general);
    font-weight: 600;
    font-size: 2em;
    letter-spacing: 1.5px;
}

.text-small {
    font-family: var(--font-general);
    font-weight: 600;
    font-size: 1em;
    letter-spacing: 1.5px;
}

.text-no-emphasis {
    font-family: var(--font-general);
    font-weight: 300;
    font-size: 1.6em;
    letter-spacing: 1.5px;
}

.text-emphasis {
    font-family: var(--font-general);
    font-weight: 700;
    font-size: 1.6em;
    letter-spacing: 1px;
}

.title {
    font-family: var(--font-general);
    font-weight: 700;
    font-size: 3.45em;
    letter-spacing: 2.75px;
}

.subtitle {
    font-family: var(--font-general);
    font-weight: 600;
    font-size: 2.85em;
    letter-spacing: 4.5px; 
}

.title-special {
    font-family: var(--font-special);
    font-weight: bold;
    font-size: 5.5em;
    letter-spacing: 4.75px;
}

/* Links */

.link-light {
    color: var(--background-light);
}

.link-dark {
    color: var(--dark);
}

/* Botões */

[class*="btn-round"] {
    height: 85px;
    border-radius: 40px;
    box-shadow: 0px 5px 5px 0px var(--dark-shadow);
    cursor: pointer;
}

.btn-round-sm {
    width: 300px;
}

.btn-round-me {
    width: 375px;
}

.btn-round-la {
    width: 465px;
}

[class*="btn-square"] {
    height: 65px;
    border-radius: 15px;
    box-shadow: 0px 5px 5px 0px var(--dark-shadow);
    cursor: pointer;
}

.btn-square-sm {
    width: 300px;
}

.btn-square-me {
    width: 375px;
}

.btn-square-la {
    width: 395px;
}

.btn-square-wide {
    width: 465px;
}

/* Ilustrações - precisaremos colocar medidas/tamanhos relativos, eliminando o uso de px por % (exemplo) */

.illustration {
    width: 530px;
}

/* Grid - Posicionamento */

.template-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    width: 100vw;
}

.content-left { 
    grid-column: 2 / 7;
}

.content-right { 
    grid-column: 7 / 12;
}

/* Sessões */

[id*="section-"] {
    width: 100vw;
    height: 100vh;
    align-items: center;
}

/* Formulários */

.form-left, .form-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 45px;
}

.form-left {
    grid-column: 2 / 7;
    align-items: flex-start;
}

.form-right {
    grid-column: 7 / 12;
    align-items: flex-end;
}

.form-input {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 38vw;
    border: 3px solid;
    border-radius: 15px;
}

.input-icon, .input-element {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8vw;
}

.input-icon img {
    height: 50px;
}

.input-element img {
    width: 45px;
    cursor: pointer;
}

.input-itens {
    display: flex;
    flex-direction: column;
    width: 20vw;
}

.input-itens input {
    background: none;
}

.input-itens input:focus {
    outline: none;
}

.btn-form {
    width: 200px;
    height: 65px;
    border-radius: 40px;
    box-shadow: 0px 5px 5px 0px var(--dark-shadow);
    cursor: pointer;
}