body {
    background-color: var(--background-institution);
}

/* Menu */

#content-header {
    align-items: center;
    height: 140px;
}

.nav-bar {
    grid-column: 2 / 12;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 80px;
}

.nav-bar img {
    width: 50px;
}

/* Definições Gerais */

.institution-icon {
    height: 50px;
    filter: brightness(100);
}

#profile, #map {
    grid-column: 2 / 12;
    display: flex;
    flex-direction: column;
}

/* Perfil - Início */

#profile {
    margin-top: 50px;
    gap: 85px;
}

#profile-presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

#profile-presentation .profile-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border: 5px solid var(--blue);
    border-radius: 50%;
    background-color: var(--background-institution);
}

#profile-presentation .profile-edit button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    color: var(--background-institution);
    background-color: var(--blue-dark);
}

#profile-presentation .profile-edit img {
    width: 30px;
}

#profile-information {
    grid-column: 2 / 12;
    display: flex;
    color: var(--light);
    background-color: var(--blue);
    border-radius: 40px;
}

#profile-information .image-portion {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12.5vw;
}

#profile-information .image-portion img {
    width: 50px;
    filter: brightness(100);
}


/* Cards Especialidades */

#specialties {
    margin-top: 120px;
}

.card-specialty {
    grid-column: 2 / 12;
    margin-top: 50px;
    padding: 25px 8.33vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--light);
    border: 3px solid var(--blue);
    border-radius: 40px;
}

.card-specialty .card-info {
    display: flex;
    align-items: center;
    gap: 50px;
}

.card-info .info-professional {
    display: flex;
    align-items: center;
    gap: 40px;
}

.card-info .info-professional img {
    height: 50px;
}

.card-info button {
    color: var(--background-institution);
    background-color: var(--blue);
}

.see-all {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px 0;
}

.see-all button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: var(--background-institution);
    background-color: var(--blue-dark);
}

.see-all button:hover {
    background-color: var(--blue);
}

.see-all button img {
    width: 20px;
}

/* Cards Atendentes */

.cards-line {
    grid-column: 2 / 12;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card-attendant {
    border: 3px solid var(--blue);
    border-radius: 40px;
    width: 25vw;  /* Talvez precisará ter tamanho + responsivo no futuro */
    height: 525px;
    background-color: var(--light);
    margin-top: 150px;
}

.attendant-top {
    position: relative;
    display: flex;
    justify-content: center;
}

.attendant-top .attendant-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180px;
    width: 180px;
    border: 3px solid var(--blue);
    border-radius: 50%;

    position: absolute;
    top: -100px;
    left: auto;
}

.attendant-top .attendant-image img {
    width: 100%;
    border-radius: 50%;
}

.attendant-top .attendant-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0 20px 0;
}

.attendant-middle {
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    color: var(--background-institution);
    background-color: var(--blue);
}

.attendant-middle img {
    width: 30px;
}

.attendant-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-top: 15px;
}

.attendant-bottom .bottom-info {
    width: 200px;
}