body {
    background-color: var(--background-institution);
}

/* Menu */

#content-header {
    align-items: center;
    height: 140px;
}

.nav-bar {
    grid-column: 2 / 12;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 80px;
}

.nav-bar img {
    width: 50px;
}

/* Definições Gerais */

.institution-icon {
    height: 50px;
    filter: brightness(100);
}

#profile, #map {
    grid-column: 2 / 12;
    display: flex;
    flex-direction: column;
}

/* Perfil - Início */

#profile {
    margin-top: 50px;
    gap: 85px;
}

#profile-presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

#profile-presentation .profile-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border: 5px solid var(--blue);
    border-radius: 50%;
    background-color: var(--background-institution);
}

#profile-presentation .profile-edit button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    color: var(--background-institution);
    background-color: var(--blue-dark);
}

#profile-presentation .profile-edit img {
    width: 30px;
}

#profile-information {
    display: flex;
    height: fit-content;
    padding: 10px 0 20px 0;
    border-radius: 40px;
    color: var(--background-light);
    background-color: var(--blue);
}

#profile-information .image-portion {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12.5vw;
}

/* Perfil - Mapa */

#map {
    border: 3px solid var(--blue);
    border-radius: 40px;
    margin-top: 55px;
}

#map .map-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: fit-content;
    padding: 25px 0 25px 0;
    gap: 20px;
    color: var(--background-institution);
    background-color: var(--blue);
    border-radius: 30px 30px 0 0;
}

.map-header [class*="header-"] {
    display: flex;
    align-items: center;
}

.map-header .header-title {
    justify-content: center;
    gap: 25px;
}

.map-header .header-location {
    justify-content: space-between;
    padding: 0 8.33vw 0 8.33vw;
}

#map .map-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    padding: 50px 0;
}

.map-content iframe {
    width: 74vw;
    height: 50vh;
    border: 3px solid var(--blue-light);
    border-radius: 40px;
}

/* Perfil - Cards */

#cards {
    grid-column: 2 / 12;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8.33vw;
    margin: 15vh 0 15vh 0;
}

#cards [class*="card-"] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 30vw;
    height: 350px;
    padding: 10px;
    color: var(--background-institution);
    background-color: var(--blue-dark);
    border-radius: 40px;
    transition: 150ms ease;
}

#cards [class*="card-"] .text-emphasis {
    font-size: 1em;
}

#cards [class*="card-"] img {
    height: 50px;
}

#cards [class*="card-"] h2 {
    margin-bottom: 20px;
}

#cards [class*="card-"]:hover {
    color: var(--background-institution);
    background-color: var(--blue);
}

/* Footer */

footer {
    width: 100vw;
    height: 455px;
    padding-top: 55px;
    color: var(--background-light);
    background-color: var(--dark);
}

[class*="footer-"] {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
}

.footer-mediconnect {
    grid-column: 3 / 5;
}

.footer-contact {
    grid-column: 6 / 8;
}

.footer-social {
    grid-column: 9 / 11;
}

.footer-social [class*="social-"] {
    display: flex;
    align-items: center;
    gap: 25px;
}

.footer-social img {
    width: 30px;
    height: 30px;
}

#footer-commercial {
    grid-column: 2 / 12;
    margin-top: 60px;
}

#footer-commercial hr {
    grid-column: 2 / 12;
    border-bottom: 1px solid var(--background-light);
}

.commercial-content {
    grid-column: 2 / 12;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
}