body {
    color: var(--escuro);
    background-color: var(--fundo-instituicao);
}

/* Menu */

#cabecalho {
    align-items: center;
    height: 140px;
}

.barra-navegacao {
    grid-column: 2 / 12;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 80px;
}

.barra-navegacao img {
    width: 50px;
}

/* Definições Gerais */

.ver-tudo button {
    color: var(--fundo-instituicao);
    background-color: var(--azul-escuro);
}

.ver-tudo button:hover {
    background-color: var(--azul);
}

/* Perfil - Início */

#perfil {
    grid-column: 2 / 12;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    gap: 85px;
}

.perfil-apresentacao .perfil-foto {
    border-color: var(--azul);
}

.perfil-apresentacao .perfil-editar button {
    background-color: var(--azul-escuro);
}

.perfil-apresentacao .perfil-editar button:hover {
    background-color: var(--azul);
}

.perfil-informacao {
    grid-column: 2 / 12;
    display: flex;
    color: var(--claro);
    background-color: var(--azul);
    border-radius: 40px;
}

.perfil-informacao .perfil-imagem {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12.5vw;
}

.perfil-informacao .perfil-imagem img {
    width: 50px;
}

/* Cards Especialidades */

#especialidades {
    margin-top: 120px;
}

.card-horizontal {
    background-color: var(--claro);
    border: 3px solid var(--azul);
}

.info-direita .info-variavel img {
    filter: var(--filtro-azul-escuro);
}

.info-direita button {
    color: var(--fundo-instituicao);
    background-color: var(--azul);
}

/* Cards Atendentes */

.card-entidade {
    border-color: var(--azul);
}

.card-superior .entidade-imagem {
    border-color: var(--azul);
}

.card-meio {
    color: var(--fundo-instituicao);
    background-color: var(--azul);
}