body {
    color: var(--escuro);
    background-color: var(--fundo-instituicao);
}

main {
    margin-top: 50px;
}

/* Side-Bar */

.barra-superior .perfil-imagem {
	border-color: var(--azul);
}

.barra-lateral, .barra-inferior, .barra-rodape {
	background-color: var(--fundo-instituicao);
}

/* Cabeçalho - Filtro */

.filtro {
	border-color: var(--azul);
}

.filtro-icone {
	background-color: var(--azul); 
}

.input-item input {
	color: var(--azul);
}

.input-item input::placeholder {
    color: var(--azul-claro);
}

.navegacao-filtro button {
	background-color: var(--azul);
}

/* Especialidade - Título */

#retornar-especialidade {
    grid-column: 2 / 12;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 25px;
}

#retornar-especialidade button {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--azul-escuro);
}

/* Retorno Vazio */

.retorno-vazio .ilustracao {
	filter: var(--filtro-azul-claro);
}

.retorno-vazio {
	color: var(--azul-claro);
}

/* Especialidades - Conteúdo */

#especialidades {
    margin-bottom: 120px;
}

.agrupamento-especialidades {
	grid-column: 2 / 12;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.container-especialidade {
	width: 33vw;
	border: 3px solid var(--azul);
	border-radius: 30px;
	padding-bottom: 50px;
	margin-top: 50px;
	background-color: var(--claro);
}

.container-especialidade .especialidade-superior {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px 10px 50px;
	background-color: var(--azul);
	border-radius: 25px 25px 0 0;
}

.container-especialidade .especialidade-superior .icones-especialidade {
	display: flex;
	gap: 10px;
}

.container-especialidade .especialidade-profissionais {
	padding: 0 50px;
}

.container-especialidade .especialidade-profissionais .texto {
	padding: 20px 0;
	border-bottom: 2px solid var(--azul-claro);
}