body {
    width: 100vw;
    color: var(--dark);
    background-color: var(--background-institution);
}

main {
    margin-top: 50px;
}

/* Side-Bar */

.barra-superior .perfil-imagem {
	border-color: var(--roxo);
}

.barra-lateral, .barra-inferior, .barra-rodape {
	background-color: var(--fundo-claro);
}

/* Cabeçalho - Filtro */

.filtro {
	border-color: var(--roxo);
}

.filtro-icone {
	background-color: var(--roxo); 
}

.input-item input {
	color: var(--roxo);
}

.input-item input::placeholder {
    color: var(--roxo-claro);
}

.navegacao-filtro button {
	background-color: var(--roxo);
}

/* Retorno Vazio */

.retorno-vazio {
	color: var(--roxo-claro);
}


/* Consultas - Título */

#retornar-consultas {
    grid-column: 2 / 12;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 25px;
}

#retornar-consultas button {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--roxo-escuro);
    transition: background-color 200ms ease;
}

#retornar-consultas button:hover {
	background-color: var(--roxo);
}

/* Consultas */

#consultas {
    margin: 50px 0;
}

.card-horizontal {
    border-color: var(--roxo);
}

.info-direita button {
    color: var(--claro);
    background-color: var(--roxo);
}

.info-variavel [class*="info-"] {
    display: flex;
    gap: 25px;
}