body {
    color: var(--escuro);
    background-color: var(--fundo-claro);
}

/* Side-Bar */

.barra-superior .perfil-imagem {
	border-color: var(--roxo);
}

.barra-lateral, .barra-inferior, .barra-rodape {
	background-color: var(--fundo-claro);
}

/* Definições Gerais */

.ver-tudo button {
    background-color: var(--roxo-escuro);
}

.ver-tudo button:hover {
    background-color: var(--roxo);
}

/* Retorno Vazio */

.retorno-vazio {
	color: var(--roxo-claro);
}

/* Perfil - Início */

.perfil-apresentacao .perfil-foto {
    border-color: var(--roxo);
}

.perfil-editar button {
    background-color: var(--roxo-escuro);
}

.perfil-editar button:hover {
    background-color: var(--roxo);
}

.perfil-informacoes {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

/* Perfil - Selos */

.perfil-selos {
    display: flex;
    align-items: center;
    gap: 65px;
}

.perfil-selos [id*="selo-"] {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 110px;
    width: 110px;
    background-color: var(--claro);
    border: 3px solid var(--roxo);
    border-radius: 15px;
    padding: 5px 0;
}

.perfil-selos [id*="selo-"] .selo-superior {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.perfil-selos [id*="selo-"] .selo-superior .icone-grande {
	width: 80px;
}

.perfil-selos [id*="selo-"] .selo-superior span {
    height: 15px;
    width: 15px;
    background-color: var(--verde);
    border-radius: 50%;
    margin-left: -10px;
}

/* Conquistas */

#container-conquistas {
    grid-column: 2 / 12;
    margin: 80px 0;
    border: 3px solid var(--roxo);
    border-radius: 40px;
    background-color: var(--claro);
}

.conquistas-superior {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
}

#barra-conquistas input {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 50rem;
}

#barra-conquistas input::-moz-range-track, input::-webkit-slider-runnable-track {
    background: var(--roxo);
    height: 2rem;
    border-radius: 15px;
}

input::-moz-range-thumb, input::-webkit-slider-thumb {
    background: none;
    border: none;
}

.conquistas-inferior {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 65px;
    height: 300px;
}

.conquista {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    width: 12.5vw;
    border-radius: 25px;
    background-color: var(--roxo);
}

.conquista .icone-grande {
    width: 75px;
}

#conquista-botao {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 125px;
    width: 12.5vw;
    border: 3px solid var(--roxo);
    border-radius: 25px;
}

/* Consultas */

#consultas {
    margin: 50px 0;
}

.card-horizontal {
    border-color: var(--roxo);
}

.info-direita button {
    color: var(--claro);
    background-color: var(--roxo);
}

.info-variavel [class*="info-"] {
    display: flex;
    gap: 25px;
}