body {
    width: 100vw;
    height: 100vh;
    background-color: var(--fundo-claro);
}

main {
    align-items: center;
    margin: 50px 0 25px 0;
}

/* Conteúdo Principal */

.titulo {
    grid-column: 2 / 12;
    color: var(--roxo);
    margin-bottom: 40px;
}

/* Formulário */

.formulario-input {
    border-color: var(--roxo);
}

.input-item input {
    color: var(--roxo);
}

.input-item input[type="date"] {
    text-transform: uppercase;
}

::placeholder {
    color: var(--roxo-claro);
}

.formulario-rodape {
    display: flex;
    justify-content: flex-end;
    width: 37vw;
    gap: 50px;
}

.formulario-rodape .botao-circular-p:first-child {
    background-color: var(--roxo);
}

.formulario-rodape .botao-circular-p:last-child {
    background-color: var(--fundo-claro);
    border: 3px solid var(--roxo);
}