body {
    width: 100vw;
    height: 100vh;
    background-color: var(--fundo-claro);
}

main {
    align-items: center;
    margin: 50px 0 25px 0;
}

/* Conteúdo Principal */

h1 {
    grid-column: 2 / 12;
    margin-bottom: 40px;
}

/* Formulário */

.formulario-input {
    border-color: var(--roxo);
}

.input-item input {
    color: var(--roxo);
}

::placeholder {
    color: var(--roxo-claro);
}

.checkbox {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 83.35vw;
    margin-top: 85px;
}

input[type=checkbox] {
    border-color: var(--roxo);
}

input[type=checkbox]::before {
    background-color: var(--roxo);
}

.checkbox a {
    font-size: 1em;
}

/* Botões Rodapé */

.botoes {
    grid-column: 2 / 12;
    display: flex;
    gap: 4.15vw;
}

.botoes .botao-circular-m:first-child {
    background-color: var(--roxo);
}

.botoes .botao-circular-m:last-child {
    background-color: var(--fundo-claro);
    border: 3px solid var(--roxo);
}