@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@700&family=Noto+Sans+Symbols:wght@300;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    border-style: none;
    box-sizing: border-box;
}

:root {
    /* Cores */
    --fundo-claro: #F8F3FB;
    --fundo-instituicao: #F3FBFB;
    --roxo: #6C64C4;
    --roxo-claro: #B5B1E1;
    --roxo-escuro: #48428E;
    --azul: #74A0D4;
    --azul-claro: #B9CFE9;
    --azul-escuro: #3D5E87;
    --claro: #FBF8F3;
    --escuro: #232323;
    --escuro-sombra: #23232340;
    --verde: #5AC48C;
    --vermelho: #C45A5A;
    /* Fontes */
    --fonte-geral: 'Noto Sans Symbols', sans-serif;
    --fonte-especial: 'Fredoka', sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* Textos - alterar o tamanho e o letter-spacing de forma com que fique "responsivo" */

.texto {
    font-family: var(--fonte-geral);
    font-weight: 600;
    font-size: 2em;
    letter-spacing: 1.5px;
}

.texto-pequeno {
    font-family: var(--fonte-geral);
    font-weight: 600;
    font-size: 1em;
    letter-spacing: 1.5px;
}

.texto-sem-enfase {
    font-family: var(--fonte-geral);
    font-weight: 300;
    font-size: 1.6em;
    letter-spacing: 1.5px;
}

.texto-enfase {
    font-family: var(--fonte-geral);
    font-weight: 700;
    font-size: 1.6em;
    letter-spacing: 1px;
}

.titulo {
    font-family: var(--fonte-geral);
    font-weight: 700;
    font-size: 3.45em;
    letter-spacing: 2.75px;
}

.subtitulo {
    font-family: var(--fonte-geral);
    font-weight: 600;
    font-size: 2.85em;
    letter-spacing: 4.5px; 
}

.titulo-especial {
    font-family: var(--fonte-especial);
    font-weight: bold;
    font-size: 5.5em;
    letter-spacing: 4.75px;
}

.subtitulo-especial {
    font-family: var(--fonte-especial);
    font-weight: bold;
    font-size: 4em;
    letter-spacing: 4.75px;
}

/* Posição do subtítulo nos perfis */

.sessao-subtitulo {
    display: flex;
    justify-content: center;
}

/* Links */

.texto-claro {
    color: var(--fundo-claro);
}

.texto-escuro {
    color: var(--escuro);
}

.texto-roxo {
    color: var(--roxo);
}

.texto-azul {
    color: var(--azul);
}

/* Botões */

[class*="botao-circular"] {
    height: 85px;
    border-radius: 45px;
    box-shadow: 0px 5px 5px 0px var(--escuro-sombra);
    cursor: pointer;
}

.botao-circular-p {
    width: 300px;
}

.botao-circular-m {
    width: 375px;
}

.botao-circular-g {
    width: 465px;
}

[class*="botao-quadrado"] {
    height: 65px;
    border-radius: 15px;
    box-shadow: 0px 5px 5px 0px var(--escuro-sombra);
    cursor: pointer;
}

.botao-quadrado-p {
    width: 300px;
}

.botao-quadrado-m {
    width: 375px;
}

.botao-quadrado-g {
    width: 395px;
}

.botao-quadrado-longo {
    width: 465px;
}

/* Ilustrações */

.ilustracao {
    width: 33.33vw;
}

.icone-claro {
    filter: brightness(100);
}

/* Grid - Posicionamento */

.template-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    width: 100vw;
}

.conteudo-esquerda { 
    grid-column: 2 / 7;
}

.conteudo-direita { 
    grid-column: 7 / 12;
}

#pesquisa .texto {      /* ANTES RECEBIA O NOME DE SEARCH-RETURN */
    grid-column: 2 / 12;
}

/* Formulários */

.formulario-esquerda, .formulario-direita {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 45px;
}

.formulario-esquerda {
    grid-column: 2 / 7;
    align-items: flex-start;
}

.formulario-direita {
    grid-column: 7 / 12;
    align-items: flex-end;
}

.formulario-input {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 37.485vw;
    border: 3px solid;
    border-radius: 15px;
}

.input-icone, .input-elemento {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8vw;
}

.input-icone img {
    width: 2.77vw;
}

.input-elemento img {
    width: 2.55vw;
    cursor: pointer;
}

.input-item {
    display: flex;
    flex-direction: column;
    width: 21vw;
}

.input-item input {
    background: none;
}

.input-item input:focus {
    outline: none;
}

/* Perfil */

.perfil-apresentacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.perfil-apresentacao .perfil-foto {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border: 5px solid;
    border-radius: 50%;
    background-color: var(--claro);
}

.perfil-apresentacao .perfil-editar button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    color: var(--claro);

    transition: 300ms background-color ease;
    /* quando em :hover, o fundo do botão será claro - especificar isso nas telas */
}

.perfil-apresentacao .perfil-editar img {
    width: 30px;
}

.ver-tudo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px 0;
}

.ver-tudo button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    transition: 300ms background-color ease;
    /* quando em :hover, o fundo do botão será claro - especificar isso nas telas */
}

.ver-tudo button img {
    width: 20px;
}

/* Cards - Atendentes & Pacientes Cadastrados */

.cards-agrupamento {
    grid-column: 2 / 12;
    display: flex;
    flex-wrap: wrap;
    gap: 45px;
}

.card-entidade {
    border: 3px solid;
    border-radius: 40px;
    width: 25vw;
    height: 525px;
    background-color: var(--claro);
    margin-top: 150px;
}

.card-superior {
    position: relative;
    display: flex;
    justify-content: center;
}

.card-superior .entidade-imagem {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180px;
    width: 180px;
    border: 3px solid;
    border-radius: 50%;

    position: absolute;
    top: -100px;
    left: auto;
}

.card-superior .entidade-imagem img {
    width: 100%;
    border-radius: 50%;
}

.card-superior .entidade-informacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0 20px 0;
}

.card-meio {
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.card-meio img {
    width: 30px;
}

.card-inferior {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-top: 15px;
}

.card-inferior .inferior-informacao {
    width: 200px;
}

/* Footer */

footer {
    width: 100vw;
    height: 455px;
    padding-top: 55px;
    color: var(--fundo-claro);
    background-color: var(--escuro);
}

[class*="rodape-"] {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
}

.rodape-mediconnect {
    grid-column: 3 / 5;
}

.rodape-contato {
    grid-column: 6 / 8;
}

.rodape-social {
    grid-column: 9 / 11;
}

.rodape-social [class*="social-"] {
    display: flex;
    align-items: center;
    gap: 25px;
}

.rodape-social img {
    width: 30px;
    height: 30px;
}

#rodape-comercial {
    grid-column: 2 / 12;
    margin-top: 60px;
}

#rodape-comercial hr {
    grid-column: 2 / 12;
    border-bottom: 1px solid var(--fundo-claro);
}

.comercial-conteudo {
    grid-column: 2 / 12;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
}