body {
    color: var(--escuro);
    background-color: var(--fundo-claro);
}

/* Menu */

#cabecalho {
    align-items: center;
    height: 140px;
}

.barra-navegacao {
    grid-column: 4 / 12;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 80px;
}

#cabecalho img {
    grid-column: 2 / 3;
}

.barra-navegacao .botao-circular-m {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8em;
    background-color: var(--roxo);
}

/* Definições Gerais */

.caixa-textual {
    display: flex;
    flex-direction: column;
    gap: 45px;
}

/* Sessões */

[id*="sessao-"] {
    width: 100vw;
    height: 100vh;
    align-items: center;
}

/* Sessão - Principal */

#sessao-principal .titulo-especial {
    text-transform: uppercase;
    color: var(--roxo);
}

#sessao-principal .conteudo-direita {
    grid-column: 8 / 12;
    display: flex;
    justify-content: flex-end;
}

/* Sessão - Gamificação */

#sessao-gamificacao {
    color: var(--fundo-claro);
    background-color: var(--roxo);
}

#sessao-gamificacao .conteudo-direita {
    grid-column: 8 / 12;
    display: flex;
    justify-content: flex-end;
}

/* Sessão - Notificações */

#sessao-notificacao .titulo-especial {
    color: var(--roxo);
}

#sessao-notificacao .conteudo-direita {
    grid-column: 8 / 12;
    display: flex;
    justify-content: flex-end;
}