body {
    color: var(--escuro);
    background-color: var(--fundo-claro);
}

/* Definições Gerais */

.caixa-textual {
    display: flex;
    flex-direction: column;
    gap: 45px;
}

/* Sessões */

[id*="sessao-"] {
    width: 100vw;
    height: 100vh;
    align-items: center;
}

/* Sessão - Principal */

#sessao-principal .titulo-especial {
    text-transform: uppercase;
    color: var(--roxo);
}

#sessao-principal .conteudo-direita {
    grid-column: 8 / 12;
    display: flex;
    justify-content: flex-end;
}

/* Sessão - Gamificação */

#sessao-gamificacao, #sessao-agendamento {
    color: var(--fundo-claro);
    background-color: var(--roxo);
}

#sessao-gamificacao .conteudo-direita {
    grid-column: 8 / 12;
    display: flex;
    justify-content: flex-end;
}

/* Sessão - Notificações */

#sessao-notificacao .titulo-especial {
    color: var(--roxo);
}

#sessao-notificacao .conteudo-direita {
    grid-column: 8 / 12;
    display: flex;
    justify-content: flex-end;
}